{% extends "app.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Search, Read, Buy, Review</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
          etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Make an account</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-3 bg-light">
    <div class="container">

      <div class="pb-3 h5">All Books</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% if not products %}
          <div class="col-12">
            <p>No products</p>
          </div>
        {% else %}
          {% for product in products %}
          <div class="col">
            <div class="card shadow-sm">
              {% for image in product.product_image.all %}
              {% if image.is_feature %}
              <img class="img-fluid" alt="Responsive image" src="{{ image.image.url }}"
                alt="{{ image.image.alt_text }}">
              {% endif %}
              {% endfor %}
              <div class="card-body">
                <p class="card-text">
                  <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}</a>
                </p>
                <div class="fw-bold">${{product.regular_price}}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endif %}

      </div>
    </div>
  </div>

{% endblock %}